{
    "presets": [
        "@babel/preset-env",
        [
            "transform-ui5",
            {
                "addControllerStaticPropsToExtend": true
            }
        ],
        "@babel/preset-typescript"
    ]
}